.main {    
    height: 40%;
    font-family: 'Varela Round';
}

.image-container {
    flex: 1;
    height: 100%;
    background-image: url('../assets/zippy.jpg');
    background-position: top;
    background-size: cover;

}

.recommendation-container {
    flex: 1;
    background-color: #fafcfe;
}

.header {
    display: flex;
    background-color: white;
    font-size: 12px;
    padding: 10px;
    justify-content: flex-end;
    align-items: center;
}

.started-btn {
    border: 1px solid #3a2d56;
    color: #74639b;
    border-radius: 20px;
    font-weight: 500;
    padding: 10px;
    margin: 0 10px;
}

.login-btn {
    background-color: #3a2d56;
    color: white;
    border: 1px solid #3a2d56;
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
}

.details-container {
    margin: 20px;
    display: flex;
    height: calc(100% - 100px);
}

.details {
    margin: 0 auto;
}

.bird-message-container {
    display: flex;
    align-items: center;
}

.bird-message {
    font-size: 1.5vh;
    background-color: white;
    width: 20vh;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    color: #74639b;
}

.bird-image {
    height: 30px;
    padding: 10px;
    background-color: white;
    border-radius: 30px;
}

.search-container {
    position: relative;
}

.location,
.search {
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    border: none;
}

.location {
    margin-top: 20px;
}

.recommendations {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    position: absolute;
    top: 25px;
    left: 20px;
    box-shadow: 1px 1px 5px 0px #ccc;
}

.search,
.location,
.bird-message,
.bird-image {
    box-shadow: 0px 1px 5px 0px #ccc;
}

.ask-container {
    background-color: #3a2d56;
    border-radius: 20px;
    width: 100px;
    padding: 10px 30px;
    border: none;
    margin-left: auto;
    display: flex;
    margin-top: 20px;
    color: white;
    cursor: pointer;
}

.recommendations[hidden] {
    display: none;
}

@media (min-width: 1024px) {
    .main {
         height: 100%;
         flex-direction: row;
         display: flex;
     
    }

    h1 {
    font-weight: 500;
    font-size: 7vh;
    }

    h2 {
        font-size: 3vh;
    }
   
}