<div class="main">
  <div class="image-container"></div>
  <div class="recommendation-container">
    <div class="header">
      <label>New to ZippyCrowd?</label>
      <div class="started-btn">GET STARTED</div>
      <label>or</label>
      <div class="login-btn">Log in</div>
      <div class="menu-btn"></div>
    </div>
    <div class="details-container">      
      <div class="details">                
        <div class="title">
          <h1>Recommendations.</h1>
          <div class="sub-title">
            <h2 class="green marg-right-10">|</h2>
            <h2 class="violet">People you need from people you trust.</h2>
          </div>

        </div>
        <div>
          <div class="bird-message-container">
            <img class="bird-image" src="../assets/bird.jpg">
            <div class="bird-message">
              <p>Ask friends to recommend.</p>
              <p>Free. With no middleman.</p>
            </div>
          </div>
        </div>
        <div class="search-container">
          <input class="search" type="text" placeholder="I'm looking for..." (keypress)="search($event)" [(ngModel)]="position" (click)="showSearch()"/>
          <div class="recommendations" [hidden]="!isSearch">
            <div class="item" *ngFor="let recommendation of recommendationsFiltered">
              <p (click)="chooseRecommendation(recommendation)">{{ recommendation }}</p>
            </div>
          </div>
        </div>
        <div class="location-container">
          <input class="location" type="text" placeholder="location" (keydown)="search($event)" [disabled]="isLocation" />
          <div class="switch-container">
            <label class="switch-label ">Any Location</label>
            <label class="switch">          
          <input type="checkbox" (click)="disable()"/>
          <span class="slider round"></span>
          </label>
          </div>


        </div>
        <div class="ask-container">
          <img class="star-logo" src="../assets/star-logo.jpg">
          <div class="">Ask for Recs</div>
        </div>

        <div>
          <img class="man-image" src="../assets/man.jpg">
        </div>
      </div>


    </div>
  </div>
</div>