<div class="main">
  <div class="image-container"></div>
  <div class="recommendation-container">
    <div class="header">
      <label>New to ZippyCrowd?</label>
      <div class="started-btn">GET STARTED</div>
      <label>or</label>
      <div class="login-btn">Log in</div>
      <div class="menu-btn"></div>
    </div>
    <div class="details-container">
      <div class="details">
        <div class="title">
          <h1>Recommendations.</h1>
          <h2>People you need from people you trust.</h2>
        </div>
        <div>
          <div class="bird-message-container">
            <img/>
            <div class="bird-message">
              <p>Ask friends to recommend.</p>
              <p>Free. With no middleman.</p>
            </div>
          </div>
        </div>
        <div class="search-container">
          <input class="search" type="text" placeholder="I'm looking for..." (keydown)="search($event)" />
          <div class="recommendations">
            <div *ngFor="let recommendation of recommendations" hidden>
              <p>{{ recommendation }}</p>
            </div>
          </div>
        </div>
        <div class="location-container">
          <input class="location" type="text" placeholder="location" (keydown)="search($event)" />
        </div>
        <div class="ask-container">
        <img />
        <div>Ask for Recs</div>
      </div>
      </div>
      

    </div>
  </div>
</div>